{######################
TEMPLATE SETTINGS
######################}

{# Extends #}
{% extends "_layouts/main" %}

{######################
END TEMPLATE SETTINGS
######################}

{% block body %}
    <h1>Welcome to the Project. Delete this file and get started.</h1>
{% endblock %}